//  ----------------------------------------------------------------------
//  BREAKPOINTS
//  ----------------------------------------------------------------------

$desktop---large: 1200px;
$desktop:         1024px;
$desktop---small:  980px;
$tablet:           768px;
$mobile:           568px;
$mobile---medium:  480px;
$mobile---small:   320px;

$gt-mobile: $mobile + 1;

$breakpoints---small:
  desktop         $desktop,
  desktop---small $desktop---small,
  tablet          $tablet,
  mobile          $mobile,
  mobile---medium $mobile---medium,
  mobile---small  $mobile---small;


$hidpi: '-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi';




//  ----------------------------------------------------------------------
//  COLORS
//  ----------------------------------------------------------------------

// stylelint-disable color-no-hex
$black: #000;
$white: #fff;

$facebook: #1877f2;
$google:   #ea4335;
$twitter:  #1d9bf0;
$zoom:     #0b5cff;
// stylelint-enable color-no-hex




//  ----------------------------------------------------------------------
//  TYPOGRAPY
//  ----------------------------------------------------------------------

$font---fallback:
  -apple-system,
  BlinkMacSystemFont,
  segoe ui,
  roboto,
  helvetica neue,
  arial,
  sans-serif;


//  WEIGHTS

$font-weight---black:    900;
$font-weight---thin:     100;

$font-weight---xxbold:   $font-weight---black;
$font-weight---xbold:    800;
$font-weight---bold:     700;
$font-weight---semibold: 600;
$font-weight---medium:   500;
$font-weight---normal:   400;
$font-weight---light:    300;
$font-weight---xlight:   200;
$font-weight---xxlight:  $font-weight---thin;




//  ----------------------------------------------------------------------
//  LISTS
//  ----------------------------------------------------------------------

$prefixes:
  webkit,
  moz,
  ms,
  o;


$socials---default:
  facebook   $facebook,
  google     $google,
  pinterest  $pinterest,
  twitter    $twitter;