@import 'mixins/bgs';
@import 'mixins/cols';
@import 'mixins/lists';
@import 'mixins/media-queries';
@import 'mixins/pointer';
@import 'mixins/position';
@import 'mixins/properties';
@import 'mixins/resets';
@import 'mixins/sizes';
@import 'mixins/typography';
@import 'mixins/visibility';


@mixin cf {
  &::before,
  &::after {
    content: ' ';
    display: table;
  }

  &::after {
    clear: both;
  }
}


@mixin modifiers($property, $list) {
  @each $name, $var in $list {
    &---#{$name} {
      #{$property}: $var;
    }
  }
}


@mixin prefix($property, $val, $prefixes: $prefixes) {
  @each $prefix in $prefixes {
    -#{$prefix}-#{$property}: $val;
  }
  #{$property}: $val;
}


@mixin scroll {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}