@import 'mixins/bgs';
@import 'mixins/cols';
@import 'mixins/lists';
@import 'mixins/media-queries';
@import 'mixins/pointer';
@import 'mixins/positions';
@import 'mixins/properties';
@import 'mixins/resets';
@import 'mixins/sizes';
@import 'mixins/typography';
@import 'mixins/variants';
@import 'mixins/visibility';


@mixin button-link---full {
  width: 100%;
  display: block;
}


@mixin cf {
  &::before,
  &::after {
    content: ' ';
    display: table;
  }

  &::after {
    clear: both;
  }
}


@mixin prefix($property, $val, $prefixes: $prefixes) {
  @each $prefix in $prefixes {
    -#{$prefix}-#{$property}: $val;
  }
  #{$property}: $val;
}


@mixin scroll {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}