// stylelint-disable declaration-bang-space-before
@import 'consts';


//  ----------------------------------------------------------------------
//  ANIMATION
//  ----------------------------------------------------------------------

$duration: 150ms !default;

$ease: ease-in-out !default;




//  ----------------------------------------------------------------------
//  BREAKPOINTS
//  ----------------------------------------------------------------------

$full:    1200px !default;
$gt-full: $full + 1;
$lt-full: $full - 1;

$bps---l:
  full     $full,
  lt-full  $lt-full;

$bps: append($bps---l, $bps---s) !default;




//  ----------------------------------------------------------------------
//  COMPONENTS
//  ----------------------------------------------------------------------

$list-p: 1.35em !default;

$pointer-size: 10px !default;




//  ----------------------------------------------------------------------
//  ELEMENTS
//  ----------------------------------------------------------------------

$body-bg: $white !default;




//  ----------------------------------------------------------------------
//  GRID
//  ----------------------------------------------------------------------

$block-m: 20px !default;

$gutter: 20px !default;




//  ----------------------------------------------------------------------
//  LISTS
//  ----------------------------------------------------------------------

$socials: $socials---default !default;




//  ----------------------------------------------------------------------
//  PROPERTIES
//  ----------------------------------------------------------------------

$border-color: $black !default;
$border-w: 1px !default;
$border: $border-w $border-color solid !default;

$color: $black !default;

$font: $font---fallback !default;

$font-size: 16px !default;

$line-height: 1.35 !default;




//  ----------------------------------------------------------------------
//  TYPOGRAPHY
//  ----------------------------------------------------------------------

$scale-type: true !default;

$webfonts: () !default;

$font---icon: '' !default;

$font-size---rem-min: 12px !default;

$h-font-weight: normal !default;

$placeholder: rgba($color, 0.75) !default;